In [2]:
import pandas as pd
import datetime
import random
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://yuanzi:yuan7142@127.0.0.1:5432/car_db',encoding="utf8")

In [3]:
C1001 = pd.read_sql("SELECT * from order_goods",con=engine)
C1001
# A1001 = pd.DataFrame(C1001)
# A1001

,id,order_id,product_id,product_name,product_detal,count,price,subtotal
0,812,20201109160404,AV15011,ဘိလပ်မြေ (ကျား),40kg Tiger,20.0,104.0,2080.0
1,811,20201109160404,AV1503,ဘိလပ်မြေ(စိန်),Diamond -> ( 50 kg ),300.0,128.0,38400.0
2,810,20201109160404,AV1504,ဘိလပ်မြေ(ဆင်),Elephant -> ( 50 kg ),200.0,120.0,24000.0
3,809,20201109121831,AV1504,ဘိလပ်မြေ(ဆင်),Elephant -> ( 50 kg ),200.0,120.0,24000.0
4,808,20201109121831,AV1501,ဘိလပ်မြေ(ကျား),Tiger -> ( 50 kg ),40.0,110.0,4400.0
...,...,...,...,...,...,...,...,...
749,63,20200814144738,GV9999,ခဲတံ,12*15,11.0,500.0,5500.0
750,62,20200814135148,GV9999,ခဲတံ,12*15,11.0,500.0,5500.0
751,61,20200814134616,GV1212,pencil,12*10,11.0,100.0,1100.0
752,59,20200814134143,GV1212,pencil,12*10,11.0,100.0,1100.0
753,57,20200814134059,GV9999,ခဲတံ,12*15,11.0,500.0,5500.0

In [4]:
C1001.to_sql(name='released_waybill', con=engine, if_exists='replace')
C1001

,id,order_id,product_id,product_name,product_detal,count,price,subtotal
0,812,20201109160404,AV15011,ဘိလပ်မြေ (ကျား),40kg Tiger,20.0,104.0,2080.0
1,811,20201109160404,AV1503,ဘိလပ်မြေ(စိန်),Diamond -> ( 50 kg ),300.0,128.0,38400.0
2,810,20201109160404,AV1504,ဘိလပ်မြေ(ဆင်),Elephant -> ( 50 kg ),200.0,120.0,24000.0
3,809,20201109121831,AV1504,ဘိလပ်မြေ(ဆင်),Elephant -> ( 50 kg ),200.0,120.0,24000.0
4,808,20201109121831,AV1501,ဘိလပ်မြေ(ကျား),Tiger -> ( 50 kg ),40.0,110.0,4400.0
...,...,...,...,...,...,...,...,...
749,63,20200814144738,GV9999,ခဲတံ,12*15,11.0,500.0,5500.0
750,62,20200814135148,GV9999,ခဲတံ,12*15,11.0,500.0,5500.0
751,61,20200814134616,GV1212,pencil,12*10,11.0,100.0,1100.0
752,59,20200814134143,GV1212,pencil,12*10,11.0,100.0,1100.0
753,57,20200814134059,GV9999,ခဲတံ,12*15,11.0,500.0,5500.0