In [56]:
import psycopg2

con = psycopg2.connect(
        host="127.0.0.1",
        database="car_db",
        user="yuanzi",
        password="yuan7142",
        port=5432
    )

In [57]:
import pandas as pd

In [58]:

A10001 = pd.read_sql("SELECT order_head.id,order_head.order_id,\
            order_head.customer_id,order_head.customer_name,order_head.total_amount,\
            order_head.datetime,order_goods.product_id,order_goods.product_name,\
            order_goods.product_detal,order_goods.count,order_goods.price,\
            order_goods.subtotal FROM order_head INNER JOIN order_goods\
            ON order_head.order_id=order_goods.order_id", con)
A10001

,id,order_id,customer_id,customer_name,total_amount,datetime,product_id,product_name,product_detal,count,price,subtotal
0,51,20200814134059,A283,အားခွင်း ဟောင်လိတ်,5500.0,2020-08-14 00:00:00,GV9999,ခဲတံ,12*15,11.0,500.0,5500.0
1,52,20200814134143,A281,ကိုကျော် တော်ကော့,6600.0,2020-08-14 00:00:00,GV9999,ခဲတံ,12*15,11.0,500.0,5500.0
2,52,20200814134143,A281,ကိုကျော် တော်ကော့,6600.0,2020-08-14 00:00:00,GV1212,pencil,12*10,11.0,100.0,1100.0
3,53,20200814134312,A285,ကိုစိုး ကချင်ရွာ,1100.0,2020-08-14 00:00:00,GV1212,pencil,12*10,11.0,100.0,1100.0
4,54,20200814134616,A280,?????????,1100.0,2020-08-14 00:00:00,GV1212,pencil,12*10,11.0,100.0,1100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
739,765,20201103160255,A288,tachileik,6200.0,2020-11-03 16:02:47,GX2000,ဖြတ်စက် (မာဂီတ),14'' Makita (LW-1401),1.0,6200.0,6200.0
740,766,20201103160404,A288,tachileik,6200.0,2020-11-03 16:04:03,GX2000,ဖြတ်စက် (မာဂီတ),14'' Makita (LW-1401),1.0,6200.0,6200.0
741,767,20201104084949,A288,tachileik,6200.0,2020-11-04 08:49:28,GX2000,ဖြတ်စက် (မာဂီတ),14'' Makita (LW-1401),1.0,6200.0,6200.0
742,768,20201104090818,A283,အားခွင်း ဟောင်လိတ်,1400.0,2020-11-04 09:38:18,GV2121,ပိုက်ရှည်(ပါး)(ကျား),11/2'' (0.5),20.0,70.0,1400.0
743,769,20201104090944,A288,tachileik,0.0,2020-11-04 09:39:32,GX2020,ဖြတ်စက် မာဂီတ,4''>Makita->Mod-9500NB,2.0,0.0,0.0

In [59]:
A10001 = pd.read_sql("SELECT order_head.id,order_head.order_id,\
        order_head.customer_id,order_head.customer_name,order_head.total_amount,\
        order_head.datetime,order_goods.product_id,order_goods.product_name,\
        order_goods.product_detal,order_goods.count,order_goods.price,\
        order_goods.subtotal FROM order_head INNER JOIN order_goods\
        ON order_head.order_id=order_goods.order_id WHERE\
        (order_head.order_id='20201017091230' )", con)
A10001

,id,order_id,customer_id,customer_name,total_amount,datetime,product_id,product_name,product_detal,count,price,subtotal
0,699,20201017091230,A285,ကိုစိုး ကချင်ရွာ,53500.0,2020-10-17,AV1504,ဘိလပ်မြေ(ဆင်),Elephant -> ( 50 kg ),400.0,120.0,48000.0
1,699,20201017091230,A285,ကိုစိုး ကချင်ရွာ,53500.0,2020-10-17,AV1501,ဘိလပ်မြေ(ကျား),Tiger -> ( 50 kg ),50.0,110.0,5500.0

In [60]:
B1001 = pd.read_sql_query("delete a,b from order_head as a \
INNER JOIN order_goods as b ON a.order_id=b.order_id \
WHERE (a.order_id='20201102140431')",con)
B1001

DatabaseError: Execution failed on sql 'delete a,b from order_head as a INNER JOIN order_goods as b ON a.order_id=b.order_id WHERE (a.order_id='20201102140431')': 错误:  语法错误 在 "a" 或附近的
LINE 1: delete a,b from order_head as a INNER JOIN order_goods as b ...
               ^